@model BingoOnline.Models.Bingo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bingo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Award.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Award.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaffleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaffleDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaffleHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaffleHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BingoID },new { @class="btn btn-warning"}) |
    @Html.ActionLink("Back to List", "Index")
</p>
