@model IEnumerable<BingoOnline.Models.Bingo>

@{
    ViewBag.Title = "Novo Bingo";
}

<h2>Novo Bingo</h2>

<p>
    @Html.ActionLink("Novo Bingo", "Create",new { }, new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Award.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaffleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaffleHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Award.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaffleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaffleHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BingoID },new { @class="btn btn-warning"}) |
            @Html.ActionLink("Details", "Details", new { id=item.BingoID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BingoID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
